@tailwind base;
@tailwind components;
@tailwind utilities;

/* general styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background: #fff5ee;
}

/* urbanist */

@font-face {
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 100;
  src: url("./assets/fonts/Urbanist/Urbanist-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 200;
  src: url("./assets/fonts/Urbanist/Urbanist-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 300;
  src: url("./assets/fonts/Urbanist/Urbanist-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/Urbanist/Urbanist-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/Urbanist/Urbanist-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/Urbanist/Urbanist-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/Urbanist/Urbanist-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 800;
  src: url("./assets/fonts/Urbanist/Urbanist-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 900;
  src: url("./assets/fonts/Urbanist/Urbanist-Black.ttf") format("truetype");
}
